	*{ 	margin:0px; padding:0px; list-style: none;}
	body{background:url("http://cfile284.uf.daum.net/original/99DD35415E547C4839E5D4") 100% center no-repeat fixed; color:black;	}
	.canvas{position: absolute; width:100%;	}
	#canva2{position: absolute;	top:200px;	width:100%;	height: auto;}
	.head{position: absolute;	top: 60px;	width:100%;	text-align: center; vertical-align: bottom;}
	.mu{color: #cc3333;}
	.foot{position: absolute;top: 80%;	width: 100%;color: blue;text-align: center; }
	.rhbt{	position: absolute;top:60px;	left:100px;width: 150px;	height: 25px;text-align: right; }
	.rhbt>a{	font-size:20px;font-family: "±¼¸²";	color: red;	font-weight: bold;text-decoration:none; 	}
	.area{position: absolute;	top: 250px;	left: 340px;	width:auto;	margin:10px; }
	.tour{font-family: "±¼¸²";text-align: center; font-weight: bold;	line-height: 150%;vertical-align: bottom;}
	.imga{border: 0px solid black;width: 210px;	height: 140px;	margin: 10px;}
	.imgb{border: 0px solid black;width: 240px;	height: 160px;	margin: 10px;}
	#big{	position:fixed;	z-index:13;	width:auto;	max-width:99%;max-height:98%;left:10px;top:10px;}
	li{	margin:5px;	float:left;list-style:none;} 
	li>img{max-width:180px;max-height:180px;curser:pointer;}
	li>img:hover{opacity:0.7;transform:translatey(-5px) rotate(5deg);}  /*º¯È¯: YÁÂÇ¥ÀÌµ¿°ú È¸Àü */
	.mask{position:fixed;z-index:13;background:black;display:none;left:0px;	top:0px;	width:100%;	height:100%;}
	.secti{width:960px;height:100%;	margin-bottom:300px;background:none;	position:relative; 	top:0px;	}

	#menubar {position:absolute; top:1px; z-index:10; background:#0033cc;left:0px; width:100%; height:40px;color: white;} 
    #menubar > ul{display:inline-block; width:99%; padding-bottom: 0px;}
    #menubar > ul li {float:left; height:35px; line-height:36px;padding: 0px; margin:5px;font-weight: bold; width: auto; text-align: center; font-size:14px;}
    #menubar > ul li:link{height:40px; overflow:hidden; color:white; text-decoration:none; text-align: center;}
    #menubar > ul li:visited{color:#9966ff;}
    #menubar > ul li:hover{color:#ee9999;}
    #menubar > ul li:active{color:red;}

	.canva1{background: black;position: relative;width: 1900px;height: 1080px;overflow: hidden;}
 	#image1,#image2,#image3,#image4,#image5,#image6{	height: 100%;width: auto;}
	.slid1{position: absolute;text-align: center;	animation:myslide 24s -20s ease infinite;}
	.slid2{position: absolute;text-align: center;	animation:myslide 24s -16s ease infinite;}
	.slid3{position: absolute;text-align: center;	animation:myslide 24s -12s ease infinite;}
	.slid4{position: absolute;text-align: center;	animation:myslide 24s -8s ease infinite;}
	.slid5{position: absolute;text-align: center;	animation:myslide 24s -4s ease infinite;}
	.slid6{position: absolute;text-align: center;	animation:myslide 24s ease infinite;}

	@keyframes myslide{
		0%{width:10px;height:10px;opacity: 0.0;transform:translate(520px,100px);}
		16%{width:90px;height:60px;opacity: 0.3;transform:translate(1335px,100px);}
		33%{width:210px;height:140px;opacity: 0.8;transform:translate(1365px,140px);}
		50%{width:1024px;height:683px;opacity: 1.0;transform:translate(290px,60px);}
		67%{width:210px;height:140px;opacity: 0.8;transform:translate(30px,140px);}
		84%{width:90px;height:60px;opacity: 0.3;transform:translate(180px,100px);}
		100%{width:10px;height:10px;opacity: 0.0;transform:translate(520px,100px);}
		}
